@import './base.css';

body {
  display: flex;
  justify-content: center;
}

#app {
  width: 100%;
}

header,
main {
  margin-inline: 2rem;
}

@media (min-width: 1024px) {
  #app {
    width: 80%;
  }
}
